

/src/LocalChat2/LocalChat.UI/obj
/src/LocalChat2/LocalChat.UI/bin
/src/LocalChat2/LocalChat.Repository/obj
/src/LocalChat2/LocalChat.Core/obj
/src/LocalChat2/.vs


BlazorLocalChat/.vs/BlazorLocalChat/FileContentIndex/6136e7d9-9013-4ecc-9aa1-75c3fdfd75b9.vsidx
*.vsidx
